<app-auth-content>
  <!-- ส่วน title -->
  <div class="col-md-12">
    <nav class="breadcrumb" *ngIf="mem_id">
      <a class="breadcrumb-item" [routerLink]="['/auth/member']">ระบบสมาชิก</a>
      <li class="breadcrumb-item active" aria-current="page">
        มุมมอง & แก้ไข
      </li>
    </nav>
  </div>
  <!-- Heading -->
  <h3><img src="../../../../assets/image/Crown4.png" /> ข้อมูลผู้เรียน</h3>

  <!-- ส่วน row -->
  <div class="row py-2">
    <!-- ส่วนคะแนนที่ได้รับ Left -->
    <div class="col-lg-2 mt-2">
      <div class="jumbotron text-center" style="padding: 8px 16px; margin: 0 0 8px 0;">
        <h5>คะแนนที่ได้จากกิจกรรม</h5>
      </div>
      <div class="mt-1 pl-2 pr-2" style="border: 1px solid lightgray; border-radius: 5px;">
        <ul style="list-style: none; padding-left: 0;">
          <li class="py-2">
            <a (click)="onOpenScore('PRE-TEST')">Pre-test</a>
          </li>
          <li class="py-2">
            <a (click)="onOpenScore('PRPS-TEST')">PrPS Test</a>
          </li>
          <li class="py-2">
            <a (click)="onOpenScore('Stage')">Stage</a>
          </li>
          <li class="py-2">
            <a (click)="onOpenScore('Quiz')">Quiz</a>
          </li>
          <li class="py-2">
            <a (click)="onOpenScore('Quest')">Quest</a>
          </li>
          <li class="py-2">
            <a (click)="onOpenScore('Badges')">Badges</a>
          </li>
          <li class="py-2">
            <a (click)="onOpenScore('Attendance')">Attendance</a>
          </li>
          <li class="py-2">
            <a (click)="onOpenScore('Resource')">Resource</a>
          </li>
          <li class="py-2">
            <a (click)="onOpenScore('Workshop')">Workshop</a>
          </li>
          <li class="py-2">
            <a (click)="onOpenScore('Guild')">Guild</a>
          </li>
          <li class="py-2">
            <a (click)="onOpenScore('PoPS Test')">PoPS Test</a>
          </li>
          <li class="py-2">
            <a (click)="onOpenScore('Post-test')">Post-test</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- ส่วน Center -->
    <div class="col-lg-7 mt-2" style="padding-right: 8px;">
      <div class="row">
        <div class="col-md-3">
          <!-- cloud image -->
          <cl-image *ngIf="image_name" [(public-id)]="image_name" class="avatar-image" crop="fit"></cl-image>
          <img src="../../../../assets/image/no-image.png" class="avatar-image" *ngIf="!image_name" />
        </div>

        <div class="col-md-9">
          <form [formGroup]="form" (submit)="onSubmit()">
            <div class="form-group">
              <label>รหัสนักศึกษา :</label>
              <input type="text" class="form-control" formControlName="sid" placeholder="รหัสนักศึกษา" />
            </div>
            <div class="form-group">
              <label>ชื่อจริง-นามสกุล :</label>
              <input type="text" class="form-control" formControlName="firstname" placeholder="ชื่อจริง" />
              <input type="text" class="form-control mt-2" formControlName="lastname" placeholder="นามสกุล" />
            </div>
            <div class="form-group">
              <label>เบอร์โทร :</label>
              <input type="text" class="form-control" formControlName="phone" placeholder="เบอร์โทร" />
            </div>
            <div class="form-group">
              <label>อีเมล์ :</label>
              <input type="text" class="form-control" formControlName="email" placeholder="อีเมล์" />
            </div>
            <div class="form-group">
              <label>ปีการศึกษา :</label>
              <input type="text" class="form-control" formControlName="class" [placeholder]="year" />
            </div>
            <button type="submit" class="btn btn-success">
              Update
            </button>
          </form>
        </div>
        <!-- แถบค่าประสบการณ์ -->
        <div class="col-md-3 mt-4 py-3 text-center" style="border-top: 1px solid lightgray;">
          ค่าประสบการณ์<br />(Experience)
        </div>
        <div class="col-md-9 mt-4 py-3" style="border-top: 1px solid lightgray;">
          <div class="form-group">
            <input type="text" class="form-control" [(value)]="exp" placeholder="ค่าประสบการณ์" readonly />
          </div>
        </div>
        <!-- แถบเลเวล -->
        <div class="col-md-3 py-3 text-center" style="border-top: 1px solid lightgray;">
          ระดับ<br />(Level)
        </div>
        <div class="col-md-9 py-3" style="border-top: 1px solid lightgray;">
          <div class="form-group">
            <input type="text" class="form-control" [(value)]="level" placeholder="เลเวล" readonly/>
          </div>
        </div>
      </div>
    </div>

    <!-- ส่วนเหรียญ Right -->
    <div class="col-lg-3 jumbotron text-center mt-2 py-4" style="
                border: 1px solid white;
                background-color: rgb(209, 209, 209);
                border-radius: 15px;
            ">
      <h5>เหรียญตราสัญลักษณ์ที่ได้รับ</h5>
      <div class="show-badge">
        <span class="pointer" *ngFor="let data of badge" tooltip="ได้รับมาจาก : การได้คะแนนเรื่อง {{ data }} เกิน 80 %">
          <img style="max-width: 65px;" [src]="setPath(data)">
        </span>
      </div>
    </div>
  </div>
</app-auth-content>
