<app-auth-content>
  <div class="row py-4">
    <h3 style="display: block; width: 100%;">
      <i class="fa fa-id-card-o" aria-hidden="true"></i> สมาชิกทั้งหมด
    </h3>
    <br />
    <div class="col-md-6">
      <p class="mb-0">จำนวนทั้งสิ้น {{ total_items }}</p>
    </div>
    <div class="col-md-6">
      <p class="text-right mb-0">
        items/per page.  
        <input type="number" style="width: 50px;" [(ngModel)]="lp" (ngModelChange)="onChange($event)">
      </p>
    </div>
    <!-- ส่วนค้นหา -->
    <div class="col-md-12 my-3">
      <div class="input-group">
        <input class="form-control" id="input2-group2" name="input2-group2" placeholder="อีเมล์, ชื่อจริง, นามสกุล"
          type="text" [(ngModel)]="searchText" />
        <span class="input-group-append">
          <button class="btn btn-primary" (click)="onSearch()" type="button">
            ค้นหา
          </button>
        </span>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="form-check mr-3 mb-3">
        <input class="form-check-input" [(ngModel)]="role" (ngModelChange)="onRoleChange($event)" type="radio" value="student" checked>
        <label class="form-check-label badge badge-dark" for="exampleRadios1">
          นักศึกษาทั้งหมด
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" [(ngModel)]="role" (ngModelChange)="onRoleChange($event)" type="radio" value="admin">
        <label class="form-check-label badge badge-info" for="exampleRadios2">
          ผู้ดูแลระบบ
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group" *ngIf="role=='student'">
        <label for="disabledTextInput" *ngIf="radioModel=='student'">ระดับชั้นเรียน :</label>
        <input [(ngModel)]="selectedValue" [typeahead]="states" [typeaheadMinLength]="0" typeaheadOptionsLimit="5"
          typeaheadOptionField="name" placeholder="ชั้นเรียน" [isAnimated]="true"
          (typeaheadOnSelect)="onSelect($event)" class="form-control" required>
      </div>
    </div>
    

    <table class="table table-responsive-sm table-hover table-outline mb-0">
      <!-- ตารางแสดง User TH -->
      <thead class="thead-light">
        <tr>
          <th class="text-center"><i class="icon-people"></i></th>
          <th>User</th>
          <th>Status</th>
          <th>Level</th>
          <th>Activity</th>
          <th></th>
        </tr>
      </thead>
      <!-- Table TR -->
      <tbody>
        <tr *ngIf="!items">
          <td colspan="6" colspan="text-center">Loading..</td>
        </tr>
        <tr *ngFor="let data of items">
          <td class="text-center">
            <div class="avatar">
              <cl-image style="max-width: 36px; height: 36px;" *ngIf="data.image" [(public-id)]="data.image"
                class="avatar-image avatar-image-member" crop="fit"></cl-image>
              <img *ngIf="!data.image" style="max-width: 36px;" class="avatar-image avatar-image-member" src="../../../../assets/image/no-image.png" />
              <span class="avatar-status badge-danger"></span>
            </div>
          </td>
          <td>
            <div>{{ data.firstname }} {{ data.lastname }}</div>
            <div class="small text-muted">
              <span>Email</span> | {{ data.email }}
            </div>
          </td>
          <td>
            <span (click)="switchLogin(data._id,'OFF')" *ngIf="data.status==1" class="badge badge-success pointer">ON</span>
            <span (click)="switchLogin(data._id,'ON')" *ngIf="data.status==0" class="badge badge-danger pointer">OFF</span>
          </td>
          <td>
            <div class="clearfix">
              <div class="float-left">
                lvl: <strong>{{ calLevel(data.exp) }}</strong>
              </div>
              <div class="float-right">
                <small class="text-muted">{{
                                        calNextLevel(data.exp)
                                            | number: '1.2-2'
                                    }}/100</small>
              </div>
            </div>
            <div>
              <!-- แสดง % -->
              <progressbar max="100" [value]="calNextLevel(data.exp)" type="warning" striped="true" animate="true">
                <i></i>
                <span *ngIf="calNextLevel(data.exp) > 10">{{
                                        calNextLevel(data.exp) | number: '1.2-2'
                                    }}
                  %</span>
              </progressbar>
            </div>
          </td>
          <td>
            <div class="small text-muted">Last login</div>
            <strong *ngIf="data.activity">{{
                            data.activity | dateAgo
                        }}</strong>
            <strong class="text-danger" *ngIf="!data.activity">
              ยังไม่เคยใช้งาน
            </strong>
          </td>
          <td>
            <div class="btn-group" btnRadioGroup>
              <label (click)="openMember(data._id)" btnRadio="A" class="btn btn-info" tabindex="0" role="button"><i
                  class="fa fa-eye"></i></label>
              <label (click)="openMember(data._id)" btnRadio="B" class="btn btn-info" tabindex="0" role="button"><i
                  class="fa fa-pencil-square-o"></i></label>
              <label (click)="onDeleteClick(data._id)" btnRadio="C" class="btn btn-info" tabindex="0" role="button"><i
                  class="fa fa-trash"></i></label>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="total_items==0">
        <tr>
          <td colspan="6"  class="thead-light text-right">
            ไม่พบข้อมูล
          </td>
        </tr>
      </tfoot>
    </table>

    <!-- Pagination -->
    <div class="col-md-12 my-3">
      <pagination *ngIf="total_items" (pageChanged)="pageChanged($event)" [itemsPerPage]="option.lp"
        directionLinks="true" [(ngModel)]="cp" previousText="ก่อนหน้า" nextText="หน้าถัดไป" [totalItems]="total_items">
      </pagination>
    </div>
  </div>
</app-auth-content>
