<app-auth-content>
    <div class="col-md-12">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" [routerLink]="['/auth/classroom']">จัดการชั้นเรียน</a>
            <li class="breadcrumb-item active" aria-current="page">
                แบ่งกิล์ดผู้เรียน
            </li>
        </nav>
    </div>
    <div class="my-3 py-3">
        <h3>จัดกลุ่มผู้เรียน</h3>
    </div>
    
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <!-- <th>
              ระดับความสามารถ
            </th> -->
            <th *ngFor="let data of number_of_group;let i = index;">
              กลุ่ม {{i+1}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of made[0];let i = index;">
            <!-- <td  class="bold" *ngIf="i==0">
              เก่ง
            </td>
            <td  class="bold" rowspan="2" *ngIf="i==1">
              กลาง
            </td>
            <td  class="bold" rowspan="2" *ngIf="i==made.length-2">
              อ่อน
            </td> -->
            <td *ngFor="let sub_data of number_of_group;let j = index;">
              <span *ngIf="made[j][i]">
                {{ made[j][i].firstname }}
              </span>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row mb-5" *ngIf="!itemObjectsTop">
        <!-- left -->
        <div class="col-md-12">
            <h5 *ngIf="display_data">
                นักศึกษาทั้งหมด {{display_data.length}} คน
            </h5>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th>ชื่อจริง - นามสกุล</th>
                            <th *ngIf="this.score">คะแนน PRE-TEST</th>
                            <th>กิล์ด</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of display_data; let i = index">
                            <td>{{ data.firstname }} {{ data.lastname }}</td>
                            <td *ngIf="test_score[i]">
                                <span *ngFor="let subdata of test_score;let j = index;">
                                    <p *ngIf="subdata._id==data._id">
                                        {{ subdata.score }}
                                    </p>
                                </span>
                            </td>
                            <td *ngIf="!test_score[i]">
                                <span class="animate animate__bounceIn">.. Loading ..</span>
                            </td>
                            <td class="text-center">
                                <span *ngIf="!data.guild" class="font-weight-bold">ไม่มีกิล์ดอยู่</span>
                                <span *ngIf="data.guild">{{ data.guild }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- <button class="btn btn-info col-md-12 my-3 mx-2" (click)="onSelectGroup()"> -->
        <button class="btn btn-info col-md-12 my-3 mx-2" (click)="onTestGroup()">
            ทดลองแบ่งกลุ่ม
        </button>

        <pre *ngIf="test" class="code my-3 border py-2 col-md-12 mx-2 bg-secondary text-white" [innerHtml]="test">
            <!-- {{ test }} -->
        </pre>
    </div>
</app-auth-content>
