<app-auth-content>
    <div class="col-md-12">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" [routerLink]="['/auth/classroom']">จัดการชั้นเรียน</a>
            <li class="breadcrumb-item active" aria-current="page">
                แบ่งกิล์ดผู้เรียน
            </li>
        </nav>
    </div>   
    <div class="my-3 py-3">
        <h3>จัดกลุ่มผู้เรียน</h3>
    </div>
    <div class="row mb-5">
        <!-- left -->
        <div class="col-md-12">
            <h5>
                นักศึกษาทั้งหมด
            </h5>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th>ชื่อจริง - นามสกุล</th>
                            <th *ngIf="this.score">คะแนน PRE-TEST</th>
                            <th>กิล์ด</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of display_data; let i = index">
                            <td>{{ data.firstname }} {{ data.lastname }}</td>
                            <td *ngIf="test_score[i]">
                                <span *ngFor="let subdata of test_score;let j = index;">
                                    <p *ngIf="subdata._id==data._id">
                                        {{ subdata.score }}
                                    </p>
                                </span>
                            </td>
                            <td *ngIf="!test_score[i]">
                                <span class="animate animate__bounceIn">.. Loading ..</span>
                            </td>
                            <td class="text-center">
                                <span *ngIf="!data.guild" class="font-weight-bold">ไม่มีกิล์ดอยู่</span>
                                <span *ngIf="data.guild">{{ data.guild }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <button class="btn btn-info col-md-12 my-3 mx-2" (click)="onTest()">
            ทดลองแบ่งกลุ่ม
        </button>

        <pre *ngIf="test" class="code my-3 border py-2 col-md-12 mx-2 bg-secondary text-white" [innerHtml]="test">
            <!-- {{ test }} -->
        </pre>
    </div>
</app-auth-content>
