<app-auth-content>
    <!-- Guild header -->
    <div>
        <div class="my-3 p-2" style="border:1px solid lightgray;border-bottom: 5px solid lightgray;border-radius: 10px;">
            <div class="row no-gutters">
                <div class="col-md-1" style="display: flex; align-items: center;">
                    <img
                        [src]="guild_image[guild_name-1]"
                        class="card-img"
                        style="margin: auto;"
                        alt="..."
                    />
                </div>
                <div class="col-md-11" style="display: flex; align-items: center;">
                    <div class="card-body">
                        <h5 class="card-title">กิล์ดอันดับ {{ guild_name }} (Guild)</h5>
                        <p class="card-text">{{ description[guild_name-1] }}</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="p-2 table-responsive">
            <table class="table table-hover"> 
                <thead>
                    <tr>
                        <th style="vertical-align: middle;" rowspan="2">ชื่อ<br>(Name)</th>
                        <th style="vertical-align: middle;" rowspan="2">ระดับ<br>(Levels)</th>
                        <th class="text-center" colspan="12">คะแนนประสบการณ์จากการทำกิจกรรมประจำด่าน</th>
                    </tr>
                    <tr class="text-center">
                        <!-- <th>x</th>
                        <th>x</th> -->
                        <th tooltip="PRETEST (คะแนนเต็ม 10)">1</th>
                        <th tooltip="Pre-PrPs (คะแนนเต็ม 10)">2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th tooltip="เข้าเรียน (คะแนนเต็ม 10)">7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                    </tr>
                </thead>
                <tbody *ngIf="items">
                    <tr class="text-center" *ngFor="let data of items;let i = index;">
                        <td class="text-left">{{ data.firstname }} {{ data.lastname }}</td>
                        <td>{{ getLevel(data.exp) }}</td>
                        <td>{{ PRETEST[i] }}</td>
                        <td>{{ PrePRPS[i] }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{ ATTENDENCE[i]}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</app-auth-content>
