<app-auth-content>
    <div class="row mt-3" *ngIf="UserLogin">
        <div class="col-md-12 text-center">
            <button class="btn btn-dark mb-3">
                <h3>
                    แนะนำระบบ PBLGPS-LMS
                </h3>
            </button>
        </div>
        <!-- สำหรับ Admin -->
        <div class="col-md-3" *ngIf="UserLogin.role=='admin'">
            <button (click)="onClickMenu('5ee1d667c8868a399c8b5203')" class="btn btn-link ml-5" style="background-color: white;text-decoration: none;">
                <img src="http://www.pblgps.com/assets/image/menu/xp.png" style="max-width: 50px;"> &nbsp;
                คะแนนประสบการณ์<br>
            </button>
            <button (click)="onClickMenu('5ee1d679c8868a399c8b5204')" class="btn btn-link my-2" style="background-color: white;text-decoration: none;">
                <img src="http://www.pblgps.com/assets/image/menu/badge.png" style="max-width: 50px;"> &nbsp;
                การรับเหรียญตรา<br>
            </button>
            <button (click)='onClickMenu("5ee1d67cc8868a399c8b5205")' class="btn btn-link mb-2" style="background-color: white;text-decoration: none;">
                <img src="http://www.pblgps.com/assets/image/menu/level.png" style="max-width: 50px;"> &nbsp;
                ระดับ<br>
            </button>
            <button (click)='onClickMenu("5ee1d682c8868a399c8b5206")' class="btn btn-link ml-5" style="background-color: white;text-decoration: none;">
                <img src="http://www.pblgps.com/assets/image/menu/leaderboard.png" style="max-width: 50px;"> &nbsp;
                กระดานผู้นำ<br>
            </button>
        </div>
        <!-- สำหรับนักศึกษา -->
        <div class="col-md-3" *ngIf="UserLogin.role=='student'">
            <button (click)="onOpenMenu('5ee1d667c8868a399c8b5203')" class="btn btn-link ml-5" style="background-color: white;text-decoration: none;">
                <img src="http://www.pblgps.com/assets/image/menu/xp.png" style="max-width: 50px;"> &nbsp;
                คะแนนประสบการณ์<br>
            </button>
            <button (click)="onOpenMenu('5ee1d679c8868a399c8b5204')" class="btn btn-link my-2" style="background-color: white;text-decoration: none;">
                <img src="http://www.pblgps.com/assets/image/menu/badge.png" style="max-width: 50px;"> &nbsp;
                การรับเหรียญตรา<br>
            </button>
            <button (click)='onOpenMenu("5ee1d67cc8868a399c8b5205")' class="btn btn-link mb-2" style="background-color: white;text-decoration: none;">
                <img src="http://www.pblgps.com/assets/image/menu/level.png" style="max-width: 50px;"> &nbsp;
                ระดับ<br>
            </button>
            <button (click)='onOpenMenu("5ee1d682c8868a399c8b5206")' class="btn btn-link ml-5" style="background-color: white;text-decoration: none;">
                <img src="http://www.pblgps.com/assets/image/menu/leaderboard.png" style="max-width: 50px;"> &nbsp;
                กระดานผู้นำ<br>
            </button>
        </div>
        <div class="col-md-6 text-center">
            <img src="http://www.pblgps.com/assets/image/menu/character2.png">
        </div>
        <div class="col-md-3" *ngIf="UserLogin.role=='admin'">
            <button (click)='onClickMenu("5ee1d691c8868a399c8b5207")' class="btn btn-link" style="background-color: white;text-decoration: none;">
                <img src="http://www.pblgps.com/assets/image/menu/stage.png" style="max-width: 50px;"> &nbsp;
                คะแนนในแต่ละกิจกรรม<br>
            </button>
            <button (click)='onClickMenu("5ee1d698c8868a399c8b5208")' class="btn btn-link my-2 ml-5" style="background-color: white;text-decoration: none;">
                <img src="http://www.pblgps.com/assets/image/menu/quiz.jpg" style="max-width: 50px;"> &nbsp;
                การทำแบบทดสอบ<br>
            </button>
            <button (click)='onClickMenu("5ee1d69ec8868a399c8b5209")' class="btn btn-link ml-5 mb-2" style="background-color: white;text-decoration: none;">
                <img src="http://www.pblgps.com/assets/image/menu/quest.png" style="max-width: 50px;"> &nbsp;
                การทำภารกิจ<br>
            </button>
            <button (click)='onClickMenu("5ee1d6a5c8868a399c8b520a")' class="btn btn-link" style="background-color: white;text-decoration: none;">
                <img src="http://www.pblgps.com/assets/image/menu/stage.jpg" style="max-width: 50px;"> &nbsp;
                กิจกรรมประจำด่าน<br>
            </button>
        </div>
        <!-- กรณีเป็นนักศึกษา -->
        <div class="col-md-3" *ngIf="UserLogin.role=='student'">
            <button (click)='onOpenMenu("5ee1d691c8868a399c8b5207")' class="btn btn-link" style="background-color: white;text-decoration: none;">
                <img src="http://www.pblgps.com/assets/image/menu/stage.png" style="max-width: 50px;"> &nbsp;
                คะแนนในแต่ละกิจกรรม<br>
            </button>
            <button (click)='onOpenMenu("5ee1d698c8868a399c8b5208")' class="btn btn-link my-2 ml-5" style="background-color: white;text-decoration: none;">
                <img src="http://www.pblgps.com/assets/image/menu/quiz.jpg" style="max-width: 50px;"> &nbsp;
                การทำแบบทดสอบ<br>
            </button>
            <button (click)='onOpenMenu("5ee1d69ec8868a399c8b5209")' class="btn btn-link ml-5 mb-2" style="background-color: white;text-decoration: none;">
                <img src="http://www.pblgps.com/assets/image/menu/quest.png" style="max-width: 50px;"> &nbsp;
                การทำภารกิจ<br>
            </button>
            <button (click)='onOpenMenu("5ee1d6a5c8868a399c8b520a")' class="btn btn-link" style="background-color: white;text-decoration: none;">
                <img src="http://www.pblgps.com/assets/image/menu/stage.jpg" style="max-width: 50px;"> &nbsp;
                กิจกรรมประจำด่าน<br>
            </button>
        </div>
    </div>
</app-auth-content>
