<app-auth-content>
    <!-- ส่วนคำชี้แจง -->
    <div class="border-aqua border-bottom my-3 pb-2">
        <div class="container">
            <h4 class="text-center">
                วิชาการสื่อสารข้อมูลและเครือข่าย
                <br />แบบประเมินทักษะการแก้ปัญหาก่อนเรียน
            </h4>
            <p class="mt-3">
                <span style="font-weight: bold;">คำชี้แจง : </span>
                แบบประเมินทักษะการแก้ปัญหาก่อนเรียนนี้ จะกำหนดสถานการณ์มาให้ 10
                สถานการณ์ ๆ ละ 4 คำถาม ซึ่งเป็นแบบ 4 ตัวเลือก รวมทั้งหมด จำนวน
                40 ข้อ ให้ผู้เรียนเลือกคำตอบที่ถูกที่สุดเพียงข้อเดียว
                เวลาในการแบบทดสอบ 60 นาที
            </p>
        </div>
    </div>

    <div class="row">
        <div
            class="col-md-4"
            style="border: 1px solid lightgray; border-radius: 10px;"
        >
            <p class="my-1">ใช้สถานการณ์ต่อไปนี้ตอบคำถามข้อ 1 – 4</p>
            <p class="text-center mb-2" style="font-weight: bold;">สถานการณ์ที่ {{ progress_page+1 }}</p>
            <p style="text-align: justify;text-indent: 30px;" *ngIf="items">
                {{ items[progress_page].situation }}
            </p>
        </div>
        <div class="col-md-8" *ngIf="items">
            <div *ngFor="let data of items[progress_page].questions;let b=index;">
            <p style="font-size:large;font-weight: bold;">Question: {{b+1}} (1 point)</p>            
                <p class="mb-3" *ngIf="items">{{ data }}</p>
                <!-- radio-button -->
                <span>
                    <div class="input-group mb-2" *ngFor="let sub_data of items[progress_page].answers;let x = index;">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <input type="radio" *ngIf="progress_page==0" [checked]="onSelect(b,x)" (click)="choose(sub_data[b].score,b,x)" aria-label="Radio button for following text input">
                          <input type="radio" *ngIf="progress_page>0" [checked]="onSelect(progress_page*4+b,x)" (click)="choose(sub_data[x].score,progress_page*4+b,x)" aria-label="Radio button for following text input">
                        </div>
                      </div>                     
                      <input type="text"[value]="sub_data[x].name" name="[{{b}}][{{x}}]" class="form-control" aria-label="Text input with radio button" readonly=true>
                    </div>
                </span>
            </div>
        </div>
        
        <p class="mt-3 mr-3">คำถามที่ {{progress_length}}/40 | page {{ progress_page+1 }}/10</p>

        <span class="text-success mt-3" *ngIf="progress_length==40" style="text-decoration: underline;">ทำแบบทดสอบสำเร็จ</span> 
        <span class="text-danger mt-3" *ngIf="progress_length==40">กรุณาส่งคำตอบ</span>
        <progressbar max="40" [value]="progress_length" type="success" striped="true" animate="true"></progressbar>
        <div class="col-md-12 text-center my-3">
            <button class="btn btn-primary mr-3" (click)="onPrevious()">
                <i class="fa fa-arrow-left"></i> ย้อนกลับ
            </button>
            <button *ngIf="progress_length==40" class="btn btn-primary mr-3" (click)="onSubmit()">
                ส่งคำตอบ
            </button>
            <button class="btn btn-primary" (click)="onNext()">
                ถัดไป <i class="fa fa-arrow-right"></i> 
            </button>
        </div>
    </div>
</app-auth-content>
