<app-nav-bar></app-nav-bar>

<main class="app-content container">
  <div class="row">
    <div class="col-md-12">
        <!-- carousel -->
      <div class="tile">
        <carousel>
          <slide>
            <div class="text-center py-5 bg-dark text-white">
              <h2>First custom content</h2>
              <div class="lead">
                <h3>First slide label</h3>
                <p>
                  Nulla vitae elit libero, a pharetra augue mollis interdum.
                </p>
              </div>
            </div>
          </slide>
          <slide>
            <div class="text-center py-5 bg-dark text-white">
              <h2>Second custom content</h2>
              <div class="lead">
                <h3>Second slide label</h3>
                <p>
                  Nulla vitae elit libero, a pharetra augue mollis interdum.
                </p>
              </div>
            </div>
          </slide>
          <slide>
            <div class="text-center py-5 bg-dark text-white">
              <h2>Third custom content</h2>
              <div class="lead">
                <h3>Third slide label</h3>
                <p>
                  Nulla vitae elit libero, a pharetra augue mollis interdum.
                </p>
              </div>
            </div>
          </slide>
        </carousel>
        <div class="text-center py-2">
            <h1>Title</h1>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <footer class="main-footer py-2">
    <div class="pull-right hidden-xs"><span style="margin-right: 30px;"><b>Version</b> 1.0</span></div>
    <strong
      >Copyright &copy; 2020-2029 <a href="#">Ratchapol Kladchuen</a>.</strong>
  </footer>
</main>
