<app-auth-content>
    <div class="card mt-3 mb-5" style="border-top:5px solid orangered;border-radius:3px;border-top-left-radius: 3px; border-top-right-radius: 3px;">
        <div class="card-header">
            <h5>การลงชื่อใช้งานออนไลน์</h5>
        </div>
        <div class="card-body">  
            <div class="row">
                <!-- จำนวนครั้งที่เรียนทั้งหมด -->
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body py-3">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="text-center mt-2" style="color: #00a1ab;padding:0px;">{{ total_numbers }}</h5>
                            </div>
                            <div class="col-md-6">
                                <p style="padding:0px;margin:0px;">Total number of studies</p>
                            </div> 
                        </div>                      
                    </div>
                    <div class="card-footer text-white" style="background-color: #00a1ab;">
                        % จำนวนครั้งที่เรียนทั้งหมด
                    </div>
                </div>  
            </div>  
            
            <!-- จำนวนครั้งที่มาเรียน -->
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body py-3">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="text-center mt-2" style="color: #00263b;padding:0px;">{{ atteneded }}</h5>
                            </div>
                            <div class="col-md-6">
                                <p style="padding:0px;margin:0px;"><span class="text-success">{{ atteneded - rate_time }}</span> เข้าเรียนทัน</p>
                                <p style="padding:0px;margin:0px;"><span class="text-info">{{ rate_time }}</span> มาสาย</p>
                            </div> 
                        </div>                      
                    </div>
                    <div class="card-footer text-white" style="background-color: #00263b;">
                        % จำนวนครั้งที่เข้าเรียน
                    </div>
                </div>  
            </div> 

            <!-- จำนวนครั้งที่ขาดเรียน -->
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body py-3">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="text-center mt-2" style="color: #ff5200;padding:0px;">{{ absent }}</h5>
                            </div>
                            <div class="col-md-6">
                                <p style="padding:0px;margin:0px;"><span class="text-danger">{{ absent - sick }}</span> ขาดเรียน</p>
                                <p style="padding:0px;margin:0px;"><span class="text-warning">{{ sick }}</span> ลาป่วย</p>
                            </div> 
                        </div>                      
                    </div>
                    <div class="card-footer text-white" style="background-color: #ff5200;">
                        % จำนวนครั้งที่ขาดเรียน
                    </div>
                </div>  
            </div> 
            </div>
            
            
            <div class="table-responsive-md">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center">
                            <td>ครั้งที่</td>
                            <td>วันที่</td>
                            <td>เวลา</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td *ngIf="!items" colspan="4" class="text-center">
                                ..Loading...
                            </td>
                        </tr>
                        <tr *ngFor="let data of items;let i = index;">
                            <td>{{ i+1 }}</td>
                            <td>วัน {{ data.date | date:'EEEE' }} ที่ {{ data.date | date:'dd MMMM yyyy' }}</td>
                            <td>{{ data.created | dateAgo }}</td>
                            <td>
                                <a (click)="onCheckIn(data._id)" class="text-success" *ngIf="onCheckUser(data)==false && data.status==1" style="border-bottom: 1px dotted;">
                                    ลงชื่อเข้าเรียน
                                </a>
                                <div>

                                </div>
                                <a class="text-secondary" *ngIf="onCheckUser(data)==false && data.status==0" style="border-bottom: 1px dotted;">
                                    ไม่สามารถลงชื่อเข้าเรียนได้แล้ว
                                </a>
                                <a class="text-warning" *ngIf="onCheckUser(data)=='sick'" style="border-bottom: 1px dotted;">
                                    ลาป่วย/ลากิจ
                                </a>
                                <span class="text-info" *ngIf="onCheckUser(data)==true">มาเรียน</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
</app-auth-content>
