<app-auth-content>
    <div class="col-md-12">
    <nav class="breadcrumb">
        <a class="breadcrumb-item" [routerLink]="['/auth/classroom']">จัดการชั้นเรียน</a>
        <li *ngIf="title_name" class="breadcrumb-item active" aria-current="page">
            {{ title_name }}
        </li>
    </nav>
    </div>    
    <!-- card 1 -->
    <div class="card mt-3" style="border-top:5px solid black;border-radius:5">
        <div class="card-header">
            <h5>จัดการชั้นเรียน</h5>
        </div>

        <div class="card-body">
            <h5>เพิ่มชั้นเรียนในระบบ</h5>
            <div class="row">
                <div class="col-md-11">
                    <input class="form-control" type="text" placeholder="ชั้นเรียนที่ต้องการเพิ่มในระบบ" [(ngModel)]="classroom_name">
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary" style="width:100%" (click)="onSubmit()">+</button>
                </div>
            </div>
        </div>

        <!-- แสดงผลชั้นเรียนทั้งหมดในระบบ -->
        <div class="card-body">
            <div class="table-responsive-md">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>รายชื่อห้องเรียน</td>
                            <td>Actions</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of Classroom_item;let i=index">
                            <td>{{ i+1 }}</td>
                            <td>{{ data.name }}</td>
                            <td>
                                <a class="pointer text-info" (click)="onLoadStudent(data)" style="text-decoration: underline;">ดูสมาชิกในห้องเรียน</a> | &nbsp;
                                <a class="pointer text-primary" (click)="onGroupCreate(data._id)" style="text-decoration: underline;">แบ่งกิล์ดผู้เรียน</a> | &nbsp;
                                <a class="pointer text-danger" (click)="onDelete(data._id)" style="text-decoration: underline;">ลบชั้นเรียน</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> 
            <span class="badge badge-pill badge-dark py-1" style="float: right;">จำนวนห้องเรียนทั้งหมด {{ total_classroom }}</span>
        </div>
    </div>

    <!-- card 2 -->
    <div class="card mt-3" *ngIf="title" style="border-top:5px solid orangered;border-radius:3px;border-top-left-radius: 3px; border-top-right-radius: 3px;">
        <div class="card-header">
            <h5>บันทึกการเช็คชื่อเข้าเรียนออนไลน์ ({{ title }}) </h5>
        </div>

        <div class="card-body">
            <div class="input-group mb-3">
                <input type="text"
                placeholder="เลือกวันที่เช็คชื่อ ..."
                class="form-control"
                [(ngModel)] = "dateAdd"
                bsDatepicker>
                <div class="input-group-append">
                    <button (click)="addAttendence()" class="btn btn-outline-primary" type="button">
                        <i class="fa fa-plus-circle"></i> เริ่มเช็คชื่อ
                    </button>
                </div>
            </div>
            
            <div class="table-responsive-md">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>ครั้งที่</td>
                            <td>วันที่</td>
                            <td>สร้างเมื่อ</td>
                            <td>สถานะ</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of attendence_item;let i = index;">
                            <td>{{ i+1 }}</td>
                            <td>{{ data.date | date:'EEEE. dd/MMMM/yyyy' }}</td>
                            <td>{{ data.created | dateAgo }}</td>
                            <td>
                                <a class="text-info" (click)="statusAttendence(data)" *ngIf="data.status==1" style=" border-bottom: 1px dotted;">
                                    อนุญาติให้เข้าห้องเรียน
                                </a>
                                <a class="text-danger" (click)="statusAttendence(data)" *ngIf="data.status==0" style="border-bottom: 1px dotted orangered;">
                                    ไม่อนุญาติให้เข้าห้องเรียน
                                </a>
                            </td>
                            <td>
                                <a (click)="deleteAttendence(data._id)">
                                    <button type="button" class="close" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- card 3 -->
    <div class="card my-3"  style="padding: 0px;border-top:5px solid #e5e5e5;" *ngIf="title">
        <div class="card-header">
            <h5>นักเรียนชั้น {{ title }}</h5>
        </div>

        <div class="card-body" style="padding: 0px;" class="px-2">
            <div class="my-3 text-right">
                <span class="badge badge-pill badge-success mx-2">มาเรียน</span>
                <span class="badge badge-pill badge-warning mx-2">ลาป่วย/ลากิจกรรม</span>
                <span class="badge badge-pill badge-danger">ขาดเรียน</span>
            </div>
            <div class="table-responsive-md">
                <table class="table table-hover table-outline" style="border-top: 0px;">
                    <thead class="thead-light" style="border-top: 0px;" >
                        <tr>
                            <td>#</td>
                            <td class="text-center">ชื่อจริง - นามสกุล</td>
                            <td class="text-center" *ngFor="let data of attendence_item;let i = index;">
                                {{ i+1 }}
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let item of items;let j = index;">
                            <td>{{ j+1 }}</td>
                            <td >
                                {{item.firstname}} {{ item.lastname }}
                            </td>
                            <td *ngFor="let data of attendence_item;let i = index;" (click)="updateAttendence(data,item)" tooltip="{{data.date | date : 'dd-MMMM-yyyy'}}" class="border pointer text-center" [ngClass]="getAttended(item._id,data.user)==true?'bg-success':data.sick==item._id?'bg-warning':'bg-danger'" >
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td [attr.colspan]="colspan"><b>นักศึกษาทั้งหมด </b></td>
                            <td class="text-right mr-2">{{ total_items }} คน</td>
                        </tr>
                    </tfoot>
                </table>
                
            </div>   
        </div>
    </div> 

    
</app-auth-content>
