<app-auth-content>
    <div class="row my-4">
        <div class="col-md-12">
            <nav class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">แหล่งการเรียนรู้</li>
            </nav>
        </div>
        <div class="col-md-5">
            <h4 class="px-2 py-1 text-center pointer" style="background-color: lightgray;border:1px solid lightgray;border-radius: 15px;">อธิบายการใช้งานแหล่งเรียนรู้</h4>
            <ol class="text-muted medium">
                <li>รู้หลักการและพื้นฐานเกี่ยวกับองค์ประกอบของเครื่องคอมพิวเตอร์</li>
                <li>รู้ความหมายหน้าที่และความสำคัญของระบบปฏิบัติการ</li>
                <li>มีทักษะในการใช้โปรแกรมระบบปฏิบัติการเบื้องต้น</li>
                <li>มีทักษะในการใช้โปรแกรมยูทิลิตี้ได้</li>
                <li>มีกิจนิสัยและส่งเสริมคุณธรรม จริยธรรม ค่านิยมที่ดีในการใช้คอมพิวเตอร์</li>
            </ol>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-6">
                    <button (click)="openContent(item[1])" style="text-decoration: none;width: 100%;" class="action-button shadow animate button-blue">หน่วยที่ 01</button>
                </div>
                <div class="col-md-6">
                    <button (click)="openContent(item[7])" style="text-decoration: none;width: 100%;" class="action-button shadow animate button-red">หน่วยที่ 07</button>
                </div>
                <div class="col-md-6">
                    <button (click)="openContent(item[2])" style="text-decoration: none;width: 100%;" class="action-button shadow animate button-blue">หน่วยที่ 02</button>
                </div>
                <div class="col-md-6">
                    <button (click)="openContent(item[8])" style="text-decoration: none;width: 100%;" class="action-button shadow animate button-red">หน่วยที่ 08</button>
                </div>
                <div class="col-md-6">
                    <button (click)="openContent(item[3])" style="text-decoration: none;width: 100%;" class="action-button shadow animate button-blue">หน่วยที่ 03</button>
                </div>
                <div class="col-md-6">
                    <button (click)="openContent(item[9])" style="text-decoration: none;width: 100%;" class="action-button shadow animate button-red">หน่วยที่ 09</button>
                </div>
                <div class="col-md-6">
                    <button (click)="openContent(item[4])" style="text-decoration: none;width: 100%;" class="action-button shadow animate button-blue">หน่วยที่ 04</button>
                </div>
                <div class="col-md-6">
                    <button (click)="openContent(item[10])" style="text-decoration: none;width: 100%;" class="action-button shadow animate button-red">หน่วยที่ 10</button>
                </div>
                <div class="col-md-6">
                    <button (click)="openContent(item[5])" style="text-decoration: none;width: 100%;" class="action-button shadow animate button-blue">หน่วยที่ 05</button>
                </div>
                <div class="col-md-6">
                    <button (click)="openContent(item[11])" style="text-decoration: none;width: 100%;" class="action-button shadow animate button-red">หน่วยที่ 11</button>
                </div>
                <div class="col-md-6">
                    <button (click)="openContent(item[6])" style="text-decoration: none;width: 100%;" class="action-button shadow animate button-blue">หน่วยที่ 06</button>
                </div>
                <div class="col-md-6">
                    <button (click)="openContent(item[12])" style="text-decoration: none;width: 100%;" class="action-button shadow animate button-red">หน่วยที่ 12</button>
                </div>
            </div>
            
        </div>
    </div>
</app-auth-content> 
