<app-auth-content>
  <div class="row py-4">
    <!-- ส่วนพิมพ์แบบฝึกหัด -->
    <div class="col-md-12">
      <h3>
        <i class="fa fa-graduation-cap" aria-hidden="true"></i> ระบบแหล่งข้อมูล
        & แบบฝึกหัด
      </h3>
      <strong>
          เพิ่มแหล่งข้อมูล
      </strong>
    </div>

    <div class="col-md-9 py-3">
      <!-- ฟอร์มเพิ่ม แหล่งข้อมูล -->
      <div class="card">
        <div class="card-header">
          <strong>แหล่งข้อมูล</strong>
        </div>
        <div class="card-body">
            <form>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">หน่วยที่</label>
                <input class="form-control" id="name" type="text" placeholder="(ตัวอย่าง) หน่วยที่ 01"/>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">PDF</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">VDO</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">URL</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <!-- ส่วนเพิ่ม pdf -->
                <div class="tab-pane fade show active py-3" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <strong class="mt-2">เอกสารประกอบการเรียนการสอนรูปแบบไฟล์ PDF</strong>
                  <div class="form-group">
                    <label for="ccnumber">หัวข้อ</label>
                    <input class="form-control" id="ccnumber" type="text" placeholder="(ตัวอย่าง) เอกสารประกอบการเรียนการสอนรูปแบบไฟล์ PDF"/>
                  </div>
                  <div class="form-group">
                    <label for="ccnumber">แนบไฟล์ PDF</label>
                    <input class="form-control" id="ccnumber" type="text" placeholder="(ตัวอย่าง) ./assets/pdf/document.pdf"/>
                  </div>
                  <div class="form-group col-md-12">
                    <label for="ccmonth">รายละเอียดหัวข้อ</label>
                    <ckeditor [editor]="Editor" (change)="onChange($event)" data="<p>:: ตัวอย่าง ::</p><ul><li>เอกสารประกอบการเรียนการสอนรูปแบบไฟล์</li></ul>"></ckeditor>
                  </div>
                </div>
                <!-- ส่วนแนบลิ้งก์ vdo -->
                <div class="tab-pane fade py-3" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <strong class="mt-2">คลิปวีดีโอบทเรียนประกอบการเรียนการสอน</strong>
                  <div class="form-group">
                    <label for="ccnumber">หัวข้อ</label>
                    <input class="form-control" id="ccnumber" type="text" placeholder="(ตัวอย่าง) เอกสารประกอบการเรียนการสอนรูปแบบไฟล์ PDF"/>
                  </div>
                  <div class="form-group">
                    <label for="url">URL</label>
                    <input id="url" class="form-control" type="text" placeholder="(ตัวอย่าง) https://www.youtube.com/watch?v=C7DO2o7HZa8"/>
                  </div>
                  <div class="form-group col-md-12">
                    <label for="ccmonth">รายละเอียดหัวข้อ</label>
                    <ckeditor [editor]="Editor" (change)="onChange($event)" data="<p>:: ตัวอย่าง ::</p><ul><li>เอกสารประกอบการเรียนการสอนรูปแบบไฟล์</li></ul>"></ckeditor>
                  </div>
                </div>
                <!-- ส่วนใส่ลิงก์ url -->
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                  <strong class="mt-2">ข้อมูลบนเว็บ (Hypertext)</strong>
                  
                  <div class="form-group col-md-12">
                    <label for="ccmonth">รายละเอียด</label>
                    <ckeditor [editor]="Editor" (change)="onChange($event)" data="<p>:: ตัวอย่าง ::</p><ul><li>เอกสารประกอบการเรียนการสอนรูปแบบไฟล์</li></ul>"></ckeditor>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          <!-- row -->
        </form>
        </div>
      </div>
    </div>
    <!-- ส่วนปุ่มกด -->
    <div class="col-md-3 py-3">
      <div class="card">
          <div class="card-header">
            Action
          </div>
          <div class="card-body">
            <button (click)="onPreview()" class="btn btn-primary col-md-12">preview</button>
            <button (click)="onSubmit()" class="btn btn-success col-md-12 my-2">save</button>
          </div>
      </div>
    </div> 

    
  </div>
</app-auth-content>
