<app-auth-content>
  <div class="row py-4">
    <!-- ส่วน Title -->
    <div class="col-md-12">
      <h3>
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        ระบบแหล่งข้อมูล & แบบฝึกหัด
      </h3>
      <strong>
        เพิ่มแหล่งข้อมูล
      </strong>
    </div>

    <div class="col-md-9 py-3">
      <!-- ฟอร์มเพิ่ม แหล่งข้อมูล -->
      <div class="card">
        <!-- ส่วนหัวข้อเพิ่มข้อมูล -->
        <div class="card-header">
          <strong>แหล่งข้อมูล</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">หน่วยที่</label>
                <input class="form-control" [(ngModel)]="name" id="name" type="text"
                  placeholder="(ตัวอย่าง) หน่วยที่ 01" required />
              </div>
            </div>
          </div>

          <!-- row -->
        </div>
      </div>

      <div class="mt-3">
        <tabset [justified]="true">
          <tab heading="รูปแบบไฟล์ PDF">
            <!-- ส่วนฟอร์ม ฟอร์มเอกสารประกอบการเรียนการสอน รูปแบบไฟล์ PDF -->
            <div class="card mt-3">
              <div class="card-header">
                ฟอร์มเอกสารประกอบการเรียนการสอน รูปแบบไฟล์ PDF
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label for="ccnumber">หัวข้อ</label>
                  <input class="form-control my-1" [(ngModel)]="pdf[0]" type="text"
                    placeholder="(ตัวอย่าง) เอกสารประกอบการเรียนการสอนรูปแบบไฟล์ PDF" required />
                </div>
                <div class="form-group">
                  <label for="ccnumber">แนบไฟล์ PDF</label>
                  <input class="form-control" [(ngModel)]="pdf[1]" type="text"
                    placeholder="(ตัวอย่าง) ./assets/pdf/document.pdf" required />
                </div>
                <div class="form-group col-md-12">
                  <label for="ccmonth">รายละเอียดหัวข้อ</label>
                  <ckeditor [editor]="Editor" [(ngModel)]="pdf[2]" (change)="onChange($event)"
                    data="<p>:: ตัวอย่าง ::</p><ul><li>เอกสารประกอบการเรียนการสอนรูปแบบไฟล์</li></ul>"></ckeditor>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="วีดีโอบทเรียน">
            <!-- ส่วนฟอร์ม ฟอร์มคลิป วีดีโอบทเรียนประกอบการเรียนการสอน -->
            <div class="card mt-3">
              <div class="card-header">
                คลิป วีดีโอบทเรียนประกอบการเรียนการสอน
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label for="ccnumber">หัวข้อ</label>
                  <input class="form-control my-1" [(ngModel)]="youtube_title" type="text"
                    placeholder="(ตัวอย่าง) คลิปวิดีโอบทเรียนประกอบการเรียนการสอน" required />
                </div>
                <!-- ปุ่มเพิ่ม input -->
                <span class="pb-2" style="display:block;width:100%;text-align: right;">
                  <button class="btn btn-outline-primary mr-1" (click)="onAddText(number_title.length)">
                    + เพิ่มลิงก์วีดีโอ
                  </button>
                  <button class="btn btn-outline-danger" *ngIf="number_title.length > 1" (click)="onPopText()">
                    -
                  </button>
                </span>
                <div class="card mb-1" *ngFor="let data of number_title; let i = index">
                  <div class="card-header">
                    แนบลิงก์วีดีโอ : {{ i + 1 }}
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label for="ccnumber">ลิงก์ Video บทเรียนประกอบการสอน</label>
                      <!-- <a (click)="urlTypeClick()" style="float: right;color:#FFF;"
                        class="badge badge-pill badge-secondary"
                        [innerHtml]="url_type?'เพิ่มลิงก์ Youtube':'เพิมลิงก์ EduPuzzle'"></a> -->
                      <input class="form-control" [(ngModel)]="url[i]" type="text"
                        placeholder="(ตัวอย่าง) https://www.youtube.com/watch?v=WBU5oHRrTUo" />
                    </div>
                    <div class="form-group">
                      <label for="ccmonth">คำอธิบายคลิป Video</label>
                      <input class="form-control" type="text" [(ngModel)]="text[i]"
                        placeholder="หัวข้อย่อย" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="ข้อมูล Hypertext">
            <!-- ส่วนฟอร์ม ข้อมูลบเว็บ (Hypertext) -->
            <div class="card mt-3">
              <div class="card-header">
                ข้อมูลบนเว็บ (Hypertext)
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label for="ccnumber">หัวข้อ</label>
                  <input type="text" class="form-control my-1" [(ngModel)]="hyperText_title" type="text"
                    placeholder="(ตัวอย่าง) อ่านข้อมูลเพิ่มเติม" required>
                </div>
                <div class="form-group">
                  <label for="ccnumber">รายละเอียดหัวข้อ</label>
                  <ckeditor [editor]="Editor" [(ngModel)]="hyperText" (change)="onChange2($event)" data=""></ckeditor>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>

    <!-- ส่วนปุ่มกด -->

    <div class="col-md-3 py-3">
      <div class="card">
        <div class="card-header">
          Action
        </div>
        <div class="card-body">
          <button (click)="onPreview()" class="btn btn-primary col-md-12">
            add
          </button>
          <button (click)="onSubmit()" class="btn btn-success col-md-12 my-2">
            save
          </button>
        </div>
      </div>
    </div>
  </div>
</app-auth-content>
