<app-auth-content>
    <h4><i class="fa fa-list" aria-hidden="true"></i> เลือกรายการ</h4>
      <p>เพิ่มแบบฝึกหัดให้สอดคล้องกับ แหล่งการเรียนรู้ หรือตรงกับข้อการวัดประเมินผล</p>

    <div class="d-flex justify-content-around pr-2" style="height: 160px;">
        <button class="btn btn-primary" [routerLink]="['/auth/quiz']">แบบทดสอบก่อน-หลังเรียน<br>หรือ<br>แบบฝึกหัดหน่วยการเรียนรู้</button>

        <button class="btn btn-warning text-white">ประเมินทักษะการแก้ปัญหา
        <span style="color:black;"><br>(ยังใช้งานไม่ได้)</span>
        </button>
    </div>
</app-auth-content>
