<app-nav-bar> </app-nav-bar>

<main class="app-content">
  <app-menu-bar></app-menu-bar>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <!-- carousel -->
      <div class="tile">
        <div class="text-center py-2">
          <h1>สร้างบัญชีของคุณ</h1>
          <h3>Create your account</h3>
          <p>Lorem ipsum dolor sit amet, consectetur.</p>
        </div>
        <form>
          <input placeholder="Enter GitHub username">
        </form>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>

  <!-- footer -->
  <footer class="main-footer py-2">
    <div class="pull-right hidden-xs"><b>Version</b> 1.0</div>
    <strong
      >Copyright &copy; 2020-2029 <a href="#">Ratchapol Kladchuen</a>.</strong
    >
  </footer>
</main>
